<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogo</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.0.0/dist/canvas-confetti.min.js"></script>
    
  </head>
  <body>
  <div class="alingstart">
    <div class="fimgame">
        <div class="gamefim">
        <label >Jogador: {{jogador}}</label> 
        <label >Resultado: {{resultado}}</label> 
    
        <form action="/" method="get">
          <button name="Reiniciar" type="submit">Reiniciar</button>
      </form>
      {% if disparar_confetes %}
          <div id="confete-container"></div>
          <script>
              function createConfetti() {
                const emojis = ["✨", "🌟"]; // Lista de emojis de confetes
                const confetti = document.createElement('div');
                confetti.classList.add('confete');
                confetti.innerText = emojis[Math.floor(Math.random() * emojis.length)];
                confetti.style.setProperty('--x', Math.random());
                confetti.style.setProperty('--y', Math.random());
                confetti.style.left = `${Math.random() * 45}vw`;
                document.getElementById('confete-container').appendChild(confetti);

                setTimeout(() => {
                    confetti.remove();
                }, 5000);
            }

            function celebrateVictory() {
                for (let i = 0; i < 500; i++) {
                    setTimeout(createConfetti, Math.random() * 5000);
                }
            }

            celebrateVictory();

            </script> 
          {% endif %}         
        </div>
      </div>
    </div>
  </body>
</html>