<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogo</title>
    <link rel="stylesheet" href="../static/style.css"> <link rel="shortcut icon" href="Screenshot_from_2024-04-10_19-15-05-removebg.png" type="image/x-icon">
</head>
<body>
<div class="alingcontainer">
    <div class="container">
        <div class="page-header">
            <h1>{{ titulo }}</h1>
        </div>
        <form action="/iniciar" method="post" id="form-iniciar">
            <div class="GroupPalavras">
                <label>Grupo: </label>
            <div class="categorias">
                <input type="radio" id="animais" name="grupo" value="ANIMAIS">
                <label for="filmes">ANIMAIS</label>
                <input type="radio" id="automovel" name="grupo" value="AUTOMOVEL">
                <label for="automovel">AUTOMOVEL</label>
                <input type="radio" id="filmes" name="grupo" value="FILMES">
                <label for="filmes">FILME</label>
                <input type="radio" id="frutas" name="grupo" value="FRUTAS">
                <label for="frutas">FRUTA</label>
            </div>
            <div class="subcategoria">
                <input type="radio" id="Paises" name="grupo" value="PAISES">
                <label for="automovel">PAISES</label><br>
                <input type="radio" id="profissoes" name="grupo" value="PROFISSOES">
                <label for="frutas">PROFISSOES</label><br>
            </div>
            </div>

            <div class="GroupPalavras">
                <label >Dificuldade: </label>
                <div class="categorias">
                    <input type="radio" id="facil" name="dificuldade" value="FACIL">
                    <label for="facil">FACIL</label>
                    <input type="radio" id="medio" name="dificuldade" value="MEDIO">
                    <label for="medio">MEDIO</label>
                    <input type="radio" id="dificil" name="dificuldade" value="DIFICIL">
                    <label for="dificil">DIFICIL</label>
                </div>

                <div class="startgame">
                    <input type="text" placeholder="Nome" name="nome" id="nome">
                    <button type="submit" name="iniciar" id="botao-iniciar" disabled>INICIAR</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container2">
        <h1>Ranking</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Colocação</th>
                    <th>Nome</th>
                    <th>Nivel</th>
                    <th>Status</th>
                    <th>Palavra</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
                {% for linha in top_10_colocados %}
                {% set dados = linha.split(';') %}
                <tr>
                    <td>{{ dados[0] }}</td>
                    <td>{{ dados[1] }}</td>
                    <td>{{ dados[2] }}</td>
                    <td>{{ dados[3] }}</td>
                    <td>{{ dados[4] }}</td>
                    <td>{{ dados[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    // Função para verificar se os campos foram preenchidos/selecionados
    function verificarCampos() {
        var grupoSelecionado = document.querySelector('input[name="grupo"]:checked');
        var dificuldadeSelecionada = document.querySelector('input[name="dificuldade"]:checked');
        var nomePreenchido = document.getElementById('nome').value.trim();

        // Habilitar o botão "INICIAR" se todos os campos estiverem preenchidos/selecionados
        if (grupoSelecionado && dificuldadeSelecionada && nomePreenchido) {
            document.getElementById('botao-iniciar').disabled = false;
        } else {
            document.getElementById('botao-iniciar').disabled = true;
        }
    }

    // Chamar a função verificarCampos quando houver alterações nos campos
    var inputs = document.querySelectorAll('input[type="radio"], input[type="text"]');
    inputs.forEach(function(input) {
        input.addEventListener('change', verificarCampos);
    });
</script>
</body>
</html>